.author-container {
    margin : 0 auto;
    height : auto;
    z-index: -1;
}

.author-container__main {
    width          : 100%;
    height         : auto;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    @media (min-width: 580px) {
        gap    : calc(var(--index)*1);
        padding: calc(var(--index) * 2.7) calc(var(--index) * 1) 0 calc(var(--index) * 1);
    }

    @media (min-width: 820px) {
        padding: 3rem 1rem 0 1rem;
    }

    @media (min-width: 1120px) {
        gap    : calc(var(--index)*1.4);
        padding: calc(var(--index) * 2) 65px calc(var(--index) * 2) 65px;
    }

    @media (min-width: 1440px) {
        gap    : calc(var(--index)*1.8);
        padding: calc(var(--index) * 3) 115px calc(var(--index) * 3) 115px;
    }
}

.author-title {
    display        : flex;
    padding        : 4rem 0;
    justify-content: center;
    cursor         : default;

    @media (min-width: 580px) {
        padding        : calc(var(--index) * 4) calc(var(--index) * 1) 0 calc(var(--index) * 1);
        justify-content: flex-start;
    }
}

.author-control__text {
    text-align    : justify;
    line-height   : 1.8;
    letter-spacing: -0.1px;
    font-size     : calc(var(--index)*1.37);
    background    : radial-gradient(47.5% 44.7% at 50% 50%, rgba(0, 0, 0, 0.9) 0.01%, rgba(0, 0, 0, 0.9) 62.92%, rgba(0, 0, 0, 0.38) 82.71%, rgba(0, 0, 0, 0) 100%);
    cursor        : default;
}

.author-control__text-bold {
    font-family: europeextendedc_bold;
    cursor     : default;
}

.author-control__img-left {
    width        : 48%;
    border-radius: calc(var(--index) * 1);
    float        : left;
    margin       : calc(var(--index) * 1) calc(var(--index) * 1) 0 0;

    @media(min-width: 580px) {
        width        : calc(var(--index) * 17);
        border-radius: calc(var(--index)*1);
        float        : left;
        margin       : calc(var(--index) * 1) calc(var(--index) * 1) 0 0;
    }

}

.author-control__img-right {
    width        : 48%;
    border-radius: calc(var(--index) * 1);
    float        : right;
    margin       : calc(var(--index) * 1) 0 calc(var(--index) * 1) calc(var(--index) * 1);

    @media(min-width: 580px) {
        width        : calc(var(--index) * 18);
        border-radius: calc(var(--index)*1);
        float        : right;
        margin       : calc(var(--index) * 1) 0 calc(var(--index) * 1) calc(var(--index) * 1);
    }
}

// .author-bottom-vebinar {
//     width     : 100%;
//     align-self: center;
// }