.extra-figurs-main {
    position      : absolute;
    top           : 0.8%;
    width         : 70%;
    height        : auto;
    z-index       : -1;
    mix-blend-mode: luminosity;
    opacity       : 0.7;
}

.extra-figurs-utility {
    position      : absolute;
    top           : 10%;
    left          : 20%;
    width         : 70%;
    height        : auto;
    z-index       : -1;
    mix-blend-mode: luminosity;
    opacity       : 0.7;
}

.fog {
    width   : 99%;
    position: absolute;
    top     : -1%;
    left    : -3%;
    z-index : -10;
}

.fog-low {
    position: absolute;
    top     : 24%;
    z-index : -1;
    width   : 100%;
    height  : auto;
}

.fog-lower {
    position: absolute;
    top     : 54%;
    z-index : -1;
    width   : 100%;
    height  : auto;
    rotate  : 180deg;
}

.fog-lowest {
    position: absolute;
    top     : 79%;
    z-index : -1;
    width   : 60%;
    height  : auto;
    rotate  : 90deg;
}

.figure {
    position: absolute;
    top     : calc(var(--index)*8);
    left    : calc(var(--index)*14);
    width   : 70%;
    z-index : -20;

    @media(min-width: 320px) {
        left: calc(var(--index)*5);
    }

    @media(min-width: 400px) {
        left: calc(var(--index)*10);
    }

    @media(min-width: 580px) {
        left: calc(var(--index)*15);
    }

    @media(min-width: 820px) {
        left: calc(var(--index)*15);
    }

    @media(min-width: 1220px) {
        left: calc(var(--index)*15);
    }

    @media(min-width: 1440px) {
        left: calc(var(--index)*16);
    }

}


.stiker-container {
    position: relative;
}

.stick {
    position : relative;
    margin   : 0 auto;
    max-width: 356px;
}


.stiker {
    position: absolute;
    width   : 20%;
    top     : calc(var(--index)*10);
    left    : calc(var(--index)*28);
    z-index : -1;

    @media(min-width: 580px) {
        top : calc(var(--index)*7);
        left: calc(var(--index)*24)
    }

    @media(min-width: 820px) {
        top : calc(var(--index)*8);
        left: calc(var(--index)*25)
    }

    @media(min-width: 1120px) {
        top : calc(var(--index)*9);
        left: calc(var(--index)*26)
    }

}

.stick {
    position             : relative;
    margin               : 0 auto;
    max-width            : 356px;
    -webkit-mask-image   : url('https://i.imgur.com/MnSYL3X.png');
    mask-image           : url('https://i.imgur.com/MnSYL3X.png');
    -webkit-mask-repeat  : no-repeat;
    mask-repeat          : no-repeat;
    -webkit-mask-position: center;
    mask-position        : center;
    -webkit-mask-size    : 84%;
    mask-size            : 84%;
}

.shader {
    backface-visibility: hidden;
    position           : relative;
    display            : block;
    overflow           : hidden;
}

.stick svg {
    display  : block;
    width    : 100%;
    max-width: 790px;
    height   : auto;
    margin   : 0;
}

.frame--leak .specular {
    z-index              : 0;
    mix-blend-mode       : color-dodge;
    background-color     : #000;
    background-position  : top center;
    background-repeat    : no-repeat;
    mix-blend-mode       : screen;
    background-attachment: fixed;
    background-image     : linear-gradient(20deg, #4C2DA6 40%, #EE2F7C, orange, #6AE6B2 60%, #000 80%);
}

.specular {
    position           : absolute;
    left               : 0;
    top                : 0;
    width              : 100%;
    height             : 100%;
    backface-visibility: hidden;
}

.frame--leak .mask {
    mix-blend-mode  : multiply;
    background-color: #fff;
    background-size : cover;
    background-image: url('https://i.imgur.com/xTc1S7Y.png');
}

.mask {
    position           : absolute;
    left               : 0;
    top                : 0;
    width              : 100%;
    height             : 100%;
    backface-visibility: hidden;
}

.stiker-title {
    z-index       : 10;
    position      : absolute;
    transform     : rotate(-27deg);
    top           : 40%;
    left          : 24%;
    color         : #FFF;
    text-align    : justify;
    font-family   : drukWidecyr-bold;
    font-size     : calc(var(--index)*2);
    line-height   : normal;
    letter-spacing: 1.82px;

    @media (min-width: 580px) {
        left: 17%;
    }

    @media (min-width: 820px) {
        top : 40%;
        left: 24%;

        @media (min-width: 1120px) {
            top : 40%;
            left: 24%;
        }
    }
}