.main-container {
    position       : relative;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin         : 0 auto;
    gap            : calc(var(--index)*1.8);
    padding        : calc(var(--index) * 3) calc(var(--index) * 7) calc(var(--index) * 2) calc(var(--index) * 7);

    @media (min-width: 580px) {
        gap    : calc(var(--index)*1);
        padding: calc(var(--index) * 2.5) calc(var(--index) * 0.5) calc(var(--index) * 1.5) 25px;
    }

    @media (min-width: 820px) {
        gap    : calc(var(--index)*1.2);
        padding: calc(var(--index) * 3) calc(var(--index) * 0.5) calc(var(--index) * 1.8) 33px;
    }

    @media (min-width: 1120px) {
        gap    : calc(var(--index)*1.4);
        padding: calc(var(--index) * 3.5) calc(var(--index) * 0.5) calc(var(--index) * 2) 95px;
    }

    @media (min-width: 1440px) {
        gap    : calc(var(--index)*1.8);
        padding: calc(var(--index) * 3) calc(var(--index) * 7) calc(var(--index) * 2) calc(var(--index) * 7);
    }
}

.main-container__left {
    height         : auto;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : flex-start;
}

.main-container__action {
    // position      : absolute;
    // top           : calc(var(--index)*5.4);
    // right         : calc(var(--index)*2.7);
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin         : 10px auto;
    gap            : calc(var(--index)*5);
}

.hero-title {
    margin-bottom: calc(var(--index)*2);
}

.hero-title__img {
    width: calc(var(--index)*49);
}

.hero-text {
    display      : flex;
    font-family  : EuropeExtendedC;
    width        : calc(var(--index)*25);
    text-align   : justify;
    font-size    : calc(var(--index)*0.8);
    margin-bottom: calc(var(--index)*2);
    color        : (var(--color-text));
}

.hero-bottom {
    width          : 100%;
    display        : flex;
    justify-content: center;
    gap            : calc(var(--index)*2);
    margin-top     : calc(var(--index)*2);
}


.drop-list {
    list-style     : none;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    gap            : calc(var(--index)*1.5);
}

.drop-text {
    text-align    : center;
    width         : 100%;
    color         : #FFF;
    font-family   : EuropeExtendedC;
    font-size     : calc(var(--index) * 0.7);
    font-style    : normal;
    font-weight   : 400;
    line-height   : normal;
    letter-spacing: 1.2px;

}

.tariffMax {
    width                : calc(var(--index)*20);
    height               : calc(var(--index)* 4.35);
    border-radius        : calc(var(--index)*1);
    background           : url('/public/img/grainBtn.svg'), conic-gradient(from 90deg at 50% 49.86%, rgba(0, 0, 0, 0.1) 0deg, rgba(255, 255, 255, 0.1) 36deg, rgba(0, 0, 0, 0.1) 285deg, rgba(255, 255, 255, 0.1) 108deg, rgba(0, 0, 0, 0.1) 144deg, rgba(255, 255, 255, 0.1) 180deg, rgba(0, 0, 0, 0.1) 216deg, rgba(255, 255, 255, 0.1) 251deg, rgba(0, 0, 0, 0.1) 288deg, rgba(255, 255, 255, 0.1) 323deg, rgba(0, 0, 0, 0.1) 302deg), conic-gradient(from 259deg at 50% 49.86%, #a9b4d2 1deg, #2B9A8D 10deg, #1DA191 41deg, #B1E1E1 83deg, #4C4FA0 105deg, #6AE6B2 175deg, #4C2DA6 196deg, #6DA8A4 219deg, #ACE2F4 243deg, #485256 279deg, #B6E3D5 317deg, #C0BAC5 359deg), #1A1E25;
    background-blend-mode: color-burn, hue, color-dodge, normal;
    box-shadow           : 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position             : relative;
    z-index              : -1;
    background-position  : top center;
    background-repeat    : no-repeat;
    display              : flex;
    justify-content      : center;
    text-align           : center;
}

.tariffMax__link {
    display              : block;
    mix-blend-mode       : screen;
    background-image     : linear-gradient(44deg, #4C2DA6 27%, #EE2F7C 33%, orange 37%, #6AE6B2 42%);
    box-shadow           : 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position             : absolute;
    width                : 100%;
    height               : 100%;
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
    border-radius        : calc(var(--index)*1);
    opacity              : 0.3;
}

.tariffMax__text {
    z-index       : 1000;
    color         : white;
    display       : block;
    align-self    : center;
    font-family   : drukWidecyr-bold;
    font-size     : calc(var(--index)*1);
    line-height   : normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}


.tarifStandart {
    display              : flex;
    justify-content      : center;
    align-items          : center;
    width                : calc(var(--index)*20);
    height               : calc(var(--index)* 4.35);
    border-radius        : calc(var(--index)*1);
    border               : 2px solid rgba(255, 255, 255, 0.50);
    background           : rgba(255, 255, 255, 0.30);
    background-blend-mode: overlay;

    /* простая кнопка */
    box-shadow     : 4px 6px 20px 0px rgba(255, 255, 255, 0.8) inset;
    backdrop-filter: blur(5px);
    text-decoration: none;
}

.tarifStandart>h3 {
    display       : inline-block;
    color         : #FFF;
    text-align    : center;
    font-family   : drukWidecyr-bold;
    font-size     : calc(var(--index)*1);
    line-height   : normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}