.hero-container {
    margin: 0 auto;
    width : 100%;
    height: auto;
}

.header-container {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    padding        : 1rem 1.5rem 0 1.5rem;

    // @media (min-width: 390px) {
    //     padding: 1rem 1.5rem 0 1.5rem;
    // }

    @media (min-width: 580px) {
        padding: 1rem 1.5rem 0 1.5rem;
    }

    @media (min-width: 820px) {
        padding: 1rem 2.5rem 0 2.5rem;
    }

    @media (min-width: 1200px) {
        padding: 1rem 3.5rem 0 3.5rem;
    }
}

.nav {
    display: none;

    @media (min-width: 580px) {
        display: block;
    }

    @media (min-width: 820px) {
        display: block;
    }

    @media (min-width: 1120px) {
        display: block;
    }

}

.goodly-logo {
    width: 8rem;

    // @media (min-width: 290px) {
    //     width: 8rem;
    // }

    // @media (min-width: 390px) {
    //     width: 8rem;
    // }

    @media (min-width: 580px) {
        width: 5.5rem;
    }

    @media (min-width: 820px) {
        width: 7rem;
    }

    @media (min-width: 1200px) {
        width: 9rem;
    }

}

.goodly-logo>a {
    width  : 100%;
    display: block;
}

.header-nav {
    list-style    : none;
    display       : flex;
    flex-direction: row;

}

.header-nav__li {
    width          : min-content;
    height         : 3vh;
    border-left    : 1px solid (var(--color-text));
    align-items    : center;
    display        : flex;
    justify-content: center;
    padding        : 0 1.5vw;

}

.header-nav__li1 {
    width          : min-content;
    height         : 3vh;
    align-items    : center;
    display        : flex;
    justify-content: center;
    padding        : 0 1.5vw;

}

.header-nav__li2 {
    width          : min-content;
    height         : 3vh;
    border-left    : 1px solid (var(--color-text));
    align-items    : center;
    display        : flex;
    justify-content: center;
    padding        : 0 1.5vw;
}

.header-nav__a {
    display        : inline-block;
    text-decoration: none;
    text-align     : center;
    text-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family    : europeextendedc;
    font-size      : 1.1rem;
    font-style     : normal;
    font-weight    : 400;
    line-height    : normal;
    transition     : all 0.1s;

    @media (min-width: 580px) {
        font-size: 0.7rem;
    }

    @media (min-width: 820px) {
        font-size: 0.9rem;
    }

    @media (min-width: 1200px) {
        font-size: 1.2rem;
    }
}

.header-nav__a:hover {
    text-decoration: underline;
    transform      : scale(1.08);
    box-shadow     : -2px 2px 4px 0px #000;
}

.header-socials {
    width: 5rem;

    // @media (min-width: 290px) {
    //     width: 5cm;
    // }

    // @media (min-width: 390px) {
    //     width: 5rem;
    // }

    @media (min-width: 580px) {
        width: 4.5rem;
    }

    @media (min-width: 820px) {
        width: 4.9rem;
    }

    @media (min-width: 1200px) {
        width: 7rem;
    }


    list-style    : none;
    display       : flex;
    flex-direction: row;
    gap           : 15px;
}

.header-nav__img {
    width: 100%;
}