.utility-container {
    margin    : 0 auto;
    margin-top: calc(var(--index)*0.5);
    height    : auto;

}

.utility-container__main {
    margin         : 0 auto;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    width          : 100%;
    height         : auto;
    padding        : 2rem 1.5rem 0 1.5rem;

    // @media (min-width: 390px) {
    //     padding: 2rem 1.5rem 0 1.5rem;
    // }

    @media (min-width: 580px) {
        padding: 2rem 1.5rem 0 1.5rem;
    }

    @media (min-width: 820px) {
        padding: 3rem 2.5rem 0 2.5rem;
    }

    @media (min-width: 1200px) {
        padding: 4rem 3.5rem 0 3.5rem;
    }
}

.utility-title {
    display: flex;
    padding: 2rem 1.5rem 0 1.5rem;

    // @media (min-width: 390px) {
    //     padding: 2rem 1.5rem 0 1.5rem;
    // }

    @media (min-width: 580px) {
        padding: 2rem 1.5rem 0 1.5rem;
    }

    @media (min-width: 820px) {
        padding: 3rem 2.5rem 0 2.5rem;
    }

    @media (min-width: 1200px) {
        padding: 4rem 3.5rem 0 3.5rem;
    }

}

.utility-title__h2 {
    font-family   : drukWidecyr-bold;
    font-size     : 1.3rem;
    text-align    : center;
    text-transform: uppercase;
    cursor        : default;
    z-index       : 10;

    // @media (min-width: 390px) {
    //     font-size : 1.3rem;
    //     text-align: center;
    // }

    @media (min-width: 580px) {
        font-size: 1.4rem;
    }

    @media (min-width: 820px) {
        font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
        font-size: 2.5rem;
    }
}

.utility-list {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    font-size      : 1.4rem;
    gap            : 1.5rem;

    // @media (min-width: 390px) {
    //     font-size: 1.4rem;
    //     gap      : 1.5rem;
    // }

    @media (min-width: 580px) {
        gap: 0.5rem;
    }

    @media (min-width: 820px) {
        gap: 1rem;
    }

    @media (min-width: 900px) {
        gap: 1.5rem;
    }

    @media (min-width: 1200px) {
        gap: 2rem;
    }
}

.utility-list__top {
    flex-direction: column;
    align-self    : center;
    gap           : 2rem;

    display: flex;

    @media (min-width: 580px) {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        gap            : 1rem;
    }

}

.utility-list__item {
    border               : 3px solid rgba(255, 255, 255, 0.15);
    background           : rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    box-shadow           : 10px 10px 50px 10px rgba(255, 255, 255, 0.15) inset,
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    width          : 19rem;
    height         : 17rem;
    border-radius  : 1rem;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    flex-direction : column;
    padding        : 1rem;


    @media (min-width: 580px) {
        width        : 10.5rem;
        height       : 11.5rem;
        border-radius: calc(var(--index) * 1);
        padding      : 0.6rem;
    }

    @media (min-width: 820px) {
        width        : 11rem;
        height       : 10rem;
        border-radius: 0.6rem;
        padding      : 0.7rem;
    }

    @media (min-width: 900px) {
        width        : 12rem;
        height       : 11rem;
        border-radius: 0.7rem;
        padding      : 0.8rem;
    }

    @media (min-width: 1200px) {
        width        : 17rem;
        height       : 15rem;
        border-radius: 0.9rem;
        padding      : 0.9rem;
    }
}

.utility-list__item_title {
    height         : calc(var(--index)*8.8);
    font-family    : drukWidecyr-bold;
    font-size      : 1.1rem;
    text-transform : uppercase;
    text-align     : center;
    display        : flex;
    justify-content: center;
    align-items    : center;
    cursor         : default;

    // @media (min-width: 390px) {
    //     font-size: 1.1rem;
    //     height   : calc(var(--index)*8.8);
    // }

    @media (min-width: 580px) {
        font-size: calc(var(--index)*0.7);
        height   : calc(var(--index)*3);
    }

    @media (min-width: 820px) {
        font-size: 0.7rem;
    }

    @media (min-width: 900px) {
        font-size: 0.8rem;
    }

    @media (min-width: 1200px) {
        font-size: 1rem;
    }
}

.utility-list__item_text {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : calc(var(--index)*7.8);
    text-align     : center;
    font-size      : 1.1rem;
    cursor         : default;

    // @media (min-width: 390px) {
    //     font-size: 1.1rem;

    // }

    @media (min-width: 580px) {
        font-size: calc(var(--index)*0.7);
        height   : calc(var(--index)*4.5);
    }

    @media (min-width: 820px) {
        font-size: 0.7rem;
    }

    @media (min-width: 900px) {
        font-size: 0.8rem;
    }

    @media (min-width: 1200px) {
        font-size: 0.9rem;
    }
}

.utility-list__bottom {
    width                : 19rem;
    height               : 23rem;
    border-radius        : 1rem;
    display              : flex;
    align-items          : center;
    justify-content      : space-between;
    align-self           : center;
    flex-direction       : column;
    padding              : 1rem;
    margin-top           : 0;
    border               : 3px solid rgba(255, 255, 255, 0.15);
    background           : rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    box-shadow           : 5px 5px 50px 10px rgba(255, 255, 255, 0.15) inset,
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);

    // @media (min-width: 390px) {
    //     width          : 19rem;
    //     height         : 23rem;
    //     border-radius  : 1rem;
    //     display        : flex;
    //     align-items    : center;
    //     justify-content: space-between;
    //     align-self     : center;
    //     flex-direction : column;
    //     padding        : 1rem;
    //     margin-top     : 0;

    // }

    @media (min-width: 580px) {
        width          : 100%;
        height         : calc(var(--index)*9);
        border-radius  : calc(var(--index)*1);
        display        : flex;
        align-items    : center;
        justify-content: center;
        padding        : calc(var(--index)*1.7);
        margin-top     : 2rem;
        margin-top     : 0.5rem;
        flex-direction : row;
    }

    @media (min-width: 820px) {
        margin-top: 1rem;
    }

    @media (min-width: 900px) {
        margin-top: 1.5rem;
    }

    @media (min-width: 1200px) {
        margin-top: 2rem;
    }

}

.utility-list__bottom .utility-list__item_svg {
    rotate: 0deg;
    scale : 1;



    @media (min-width: 580px) {
        rotate: -90deg;
        scale : 1.5;

    }
}

.utility-list__bottom .utility-list__item_title,
.utility-list__bottom .utility-list__item_text {
    width : calc(var(--index)*38);
    height: auto;

}

.utility-list__bottom .utility-list__item_title {
    font-size: 1.1rem;
    height   : calc(var(--index)*7.5);
    width    : 100%;

    @media (min-width: 580px) {
        font-size: calc(var(--index)*0.8);
        width    : calc(var(--index)*38);
        height   : auto;
    }
}

.utility-list__bottom .utility-list__item_text {
    font-size: 1.1rem;
    height   : calc(var(--index)*15.8);
    width    : 100%;

    @media (min-width: 580px) {
        font-size: calc(var(--index)*0.75);
        width    : calc(var(--index)*38);
        height   : auto;
    }
}